<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> New Sheet</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-user"></span> Everyone's Picks</a>
      </li>
      <li class="dropdown">
        <a href="/"><span class="glyphicon glyphicon-user"></span> Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
